.userBox{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 21px;
    right: 17px;
}
.imageUser{
    display: inline-block;
    width: 45px;
    height: 43px;
    margin-right: 8px;
    border-radius: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../public/img/Mark\ Zuckerberg.jpeg);

    
}