.aboveParagraph{
    width: 168px;
    height: 68px;
    margin: 0;

    font-size: 64px;
    font-weight: bold;
    color: #FFFF;
    line-height: 120px;
    /* line-height revisar mucho espacio entra lineas*/
}

.middleParagraph{
    width: 133px;
    height: 57px;
    margin: 0;


    font-size: 55px;
    font-weight: bold;
    color: #FFFF;
}

.belowParagraph{
    width: 280px;
    height: 57px;
    margin: 0;

    font-size: 40px;
    font-weight: bold;
    line-height: 41px;
    color: #FFFF; 
}

.paragraph{
    width: 180px;
    height: 32px;
    margin: 0;

    font-size: 13px;
    font-weight: bold;
    color: #B0A9A9;
}